.container {
  background-image: linear-gradient(#e47ff8, #b32cf1);
  background-repeat: no-repeat;
  background-size: cover;
  height: 89.2vh;
  width:  203.6vh;
  position: absolute;
}

/* nav {
    margin-top: -76vh;
    display : flex;
    flex-direction: column;
  
} */

.logo {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/key.svg);   
    background-repeat: no-repeat;
    margin-top: 12vh;
    width : 50px;
    height : 50px;
}

.lock {

    background-image: url(../assets/lock.svg);   
    background-repeat: no-repeat;
    width : 60vh;
    height : 60vh;
    margin-top: 15vh;
    margin-left : 15vh;
}


h1.welcome {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 42px;
    margin-top : -57vh;
    margin-left : 110vh;
    letter-spacing : 5px;
}

h1.name {
    font-family: 'Girassol', cursive;
    color: white;
    font-weight: bold;
    font-size: 70px;
    margin-left : 110vh;
    letter-spacing : 10px;
}

h1.motto {
    font-family: 'Chewy', cursive;
    color: white;
    font-weight: normal;
    font-size: 40px;
    margin-left : 115vh;
    letter-spacing : 2px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* li {
  
}
 */


li a {
  display: block;
  color: white; 
  text-align: center;
  text-decoration: none;
}


.btn {

  font-family: 'Graduate', cursive; 
  font-weight: bold;
  font-size: 40px; 
  background-color: #16c79a; 
  color : white;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  width: 250px;
  height : 75px;
  margin-left : 120vh;
  margin-top: 10vh;
}

.btn-signup {

  font-family: 'Graduate', cursive;  
  font-weight: bold;
  font-size: 40px; 
  letter-spacing:  2px;
  background-color: #4a47a3; 
  border: none;
  padding: 16px 32px;
  text-align: justify;
  text-decoration: none;
  font-size: 16px;
  margin-top: -5vh;
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  float : right;
  position: relative;
  left: -60px;
}

.btn-login {

  font-family: 'Graduate', cursive; 
  font-weight: bold;
  letter-spacing:  2px;
  font-size: 40px;  
  background-color: #4a47a3; 
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: -5vh;
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  float : right;
  position: relative;
  left: -80px;

}

.btn:hover {
    opacity: 0.7;
    background-color: #4a47a3; ;
}


.btn-signup:hover {
    opacity: 0.7;
    background-color: #16c79a;
}

.btn-login:hover {
    opacity: 0.7;
    background-color: #16c79a;
}




